/**
 * @package iFLower
 * @version 1.0
 *
/*

/* Button & Input style */
.form-group input {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.btn-custom {
	padding: 10px 50px;
	color: #ffffff;
    background:#000000;
}

.btn-custom:hover {
	color: #ffffff;
    background:#000000;
}

/* Total price style */
.total-price {
	margin: 35px 0;
}

.total-price p {
	font-size: 30px;
}

/* Validator Style */
#form-registration .error {
	color: red;
}
